/*-----------------Предварительные настройки макета------------------*/
@font-face {
  src: url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
  font-family: "Open Sans Semi";
  font-weight: 600;
}

@font-face {
  src: url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
  font-family: "Open Sans Extra";
  font-weight: 700;
}
@font-face {
  src: url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap");
  font-family: "Open Sans Bold";
  font-weight: 800;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
li,
ol {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1249px;
  margin: 0 auto;
}
/*-----------------Header------------------*/
.header {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 10;
}

.header_container {
  max-width: 1249px;
  height: 90px;
  margin: 29px auto;
  background-color: #000001;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.menu_list {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
}

.header_menu {
  height: 100%;
}

.menu_item:not(:last-child) {
  margin: 0 30px 0 0;
}

.menu_item > a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  font-family: "Open Sans Semi", sans-serif;
  color: #dededf;
}
.menu_item > a:hover {
  background: #ff3f40;
}
.menu_item > a:link {
  padding: 10px 10px 0 10px;
  width: 100%;
}

/*-----------------Main------------------*/

.page {
  flex: 1 1 auto;
}
/*-----------------Description(_background)------------------*/

.description_background {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  min-height: 688px;
  background-color: #f6f2f2;
  z-index: -1;
}
.description {
  display: flex;
  flex-wrap: wrap;
}
.description_box {
  display: flex;
  justify-content: space-between;
  margin: 220px 0 0 0;
  min-height: 465px;
}
.column-description {
  display: flex;
  flex-flow: wrap row;
  align-content: flex-start;
}
.image {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.video {
  box-shadow: 0px -10px 40px 10px rgb(124, 124, 124);
}
.description-title {
  font-family: "Open Sans Bold", sans-serif;
  font-size: 60px;
  font-weight: 800;
  letter-spacing: 7px;
  line-height: 65px;
  padding-right: 40px;
  /*text-blink: 0px;*/
  height: auto;
}
.description-text {
  display: flex;
  justify-content: center;
  margin-top: 27px;
  padding-right: 155px;
  font-family: "Open Sans Semi", sans-serif;
  opacity: 0.7;
  line-height: 30px;
}
.column-description > a {
  font-family: "Open Sans Semi", sans-serif;
  text-align: center;
  margin: 64px 0 0 0;
  background: #ff2d2d;
  border-radius: 5px;
  color: white;
  height: 55px;
  width: 227px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*-----------------Provide------------------*/
.provide {
}

.provide_box {
  display: flex;
  justify-content: space-between;
  margin-top: 108px;
  min-height: 589px;
  position: relative;
}
.border {
  position: absolute;
  margin: 585px auto;
  border: 2px solid #eaeaeb;
  height: 2px;
  width: 1251px;
}
.provide_description {
  display: flex;
  flex-flow: wrap column;
}
.provide-column {
  max-width: 640px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 36px;
  align-content: flex-start;
  vertical-align: baseline;
}

.provide-title {
  font-family: "Open Sans Semi", sans-serif;
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 25px;
  line-height: 55px;
}
.provide-text {
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  font-size: 16px;
  padding-right: 28px;
  line-height: 30px;
  opacity: 0.7;

}
.provide-link {
  border: 3px solid #fd0001;
  width: 227px;
  height: 55px;
  border-radius: 5px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff2d2d;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-top: 44px;
}
.column_management {
  width: 50%;
  padding-right: 15px;
  margin-bottom: 45px;
}
.column_design {
  width: 50%;
  padding-left: 15px;
}
.column-logo {
  padding-right: 15px;
  width: 50%;
}
.column-animation {
  width: 50%;
  padding-left: 15px;
}
.provide-column img {
  margin-bottom: 30px;
}
.column-title {
  font-family: "Open Sans Semi", sans-serif;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 13px;
}
.column-text {
  font-family: "Open Sans Semi", sans-serif;
  font-size: 16px;
  line-height: 28px;
  opacity: 0.7;
}
/*-----------------Products------------------*/
.products_box {
  display: flex;
  margin-top: 98px;
  min-height: 930px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}
.products_description {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.product_title {
  font-family: "Open Sans Semi", sans-serif;
  height: 40px;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 25px;
  /*letter-spacing: 0.3834px;*/
}
.product_text {
  font-family: "Open Sans Semi", sans-serif;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  opacity: 0.7;
}
.product_border {
  margin-top: 22px;
  border: 1px solid #fd2d2e;
  width: 134px;
  margin-bottom: 30px;
}
.product_menu {
}
.product_menu a{
  font-family: "Open Sans Semi", sans-serif;
  font-size: 22px;
  line-height: 20px;
  letter-spacing: 0.22px;
  color: black;
  font-weight: bold;
}
.product_menu a:hover {
  color: #ff2d2d
}
.product_menu a:not(:last-child) {
  margin: 0 26px 0 0;
}
.product_boxes {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
  align-self: flex-end;
}
/*.product_boxes box:not(:last-child) {*/
/*  margin: 10px 10px;*/
/*}*/

.box {
  margin-bottom: 20px;
  width: 296px;
  height: 288px;
  background: #5281ff;
}
.box:nth-of-type(1) {
  background-image: url('../img/work-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f4ad99;
}
.box:nth-of-type(2) {
  background-image: url('../img/work-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f4ad99;
}
.box:nth-of-type(3) {
  background-image: url('../img/work-3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f4ad99;
}
.box:nth-of-type(4) {
  background-image: url('../img/work-4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f4ad99;
}
.box:nth-of-type(5) {
  background-image: url('../img/work-5.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f4ad99;
}
.box:nth-of-type(6) {
  background-image: url('../img/work-6.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f4ad99;
}
.box:nth-of-type(7) {
  background-image: url('../img/work-7.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f4ad99;
}
.box:nth-of-type(8) {
  background-image: url('../img/work-8.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f4ad99;
}
/*-----------------Team------------------*/
.team {

}
.team_box {
  margin-top: 122px;
  min-height: 710px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: flex-start;
}
.team_description {
  display: flex;
  flex-wrap: wrap;
  padding-right: 770px;
}
.team_title {
  font-family: "Open Sans Semi", sans-serif;
  height: 40px;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 32px;
}
.team_text {
  font-family: "Open Sans Semi", sans-serif;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 27px;
  opacity: 0.7;
  font-weight: bold;
}
.team_border {
  border: 1px solid #fd2d2e;
  width: 134px;
  height: 1px;
}
.big_icon {
  /*background: #ff3f40;*/
  min-width: 320px;
  height: 456px;
  display: flex;
  align-items: flex-end;
  background-image: url('../img/man.svg');
  background-repeat: no-repeat;
  background-size: auto;
  background-color: #f4ad99;
  background-position-y: center;
}
.big_icon_name {
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  background-color: black;
  color: white;
  height: 70px;
  opacity: 0.5;
  width: 100%;
  font-family: "Open Sans Semi", sans-serif;
  font-size: 25px;
  font-weight: bold;
}
.big_icon:hover > .big_icon_name {
  visibility: visible;
}

.team_icons {
  display: flex;
  flex-flow: wrap row;
  width: 74.33%;
  padding-left: 70px;
  padding-top: 16px;
}
.icon_title {
  font-family: "Open Sans Semi", sans-serif;
  font-size: 30px;
  margin-bottom: 24px;
}
.icon_text {
  font-family: "Open Sans Semi", sans-serif;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 36px;
  font-weight: bold;
  opacity: 0.7;
  width: 80%;
}
.icon_menu {
  margin-bottom: 59px;
}
.icon_menu a {
  font-family: "Open Sans Semi", sans-serif;
  font-size: 18px;
  font-style: italic;
  color: black;
}
.icon_menu a:not(:last-child) {
  margin: 0 34px 0 0;
}
.icons_container {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
}
.icons_box {
  width: 200px;
  height: 217px;
  /*background: #ff3f40;*/
  display: flex;
  align-items: flex-end;
  background-image: url('../img/girl.svg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position-y: center;
  background-color: #d2dae5;
}
.icons_box:not(:last-child) {
  margin-right: 19px;

}
.hover_text_1,
.hover_text_2,
.hover_text_3,
.hover_text_4 {
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  background-color: black;
  color: white;
  height: 40px;
  opacity: 0.5;
  width: 100%;
  font-family: "Open Sans Semi", sans-serif;
  font-size: 18px;
}

.icons_box:hover > .hover_text_1 {
  visibility: visible;
}
.icons_box:hover > .hover_text_2 {
  visibility: visible;
}
.icons_box:hover > .hover_text_3 {
  visibility: visible;
}
.icons_box:hover > .hover_text_4 {
  visibility: visible;
}
/*-----------------Subscribe------------------*/
.subscribe {
  margin-top: 106px;
  min-height: 516px;
  width: 100%;
  background: #2c2c2c;
}
.subscribe_box {
  display: flex;
  flex-flow: wrap row;
  min-height: 516px;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.subscribe_description {
  height: 50%;
  display: flex;
  margin-top: 6px;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-end;
}
.subscribe_title {
  font-family: "Open Sans Semi", sans-serif;
  font-size: 42px;
  font-weight: 700;
  color: white;
  letter-spacing: 2px;
}
.subscribe_text {
  font-family: "Open Sans Semi", sans-serif;
  font-size: 16px;
  line-height: 28px;
  /*font-weight: bold;*/
  letter-spacing: 0.40px;
  margin-top: 28px;
  margin-bottom: 16px;
  opacity: 0.7;
  color: white;
}
.subscribe_input {
  height: 50%;
  /*margin-top: 10px;*/
  display: flex;
  padding-top: 40px;
  flex-flow: nowrap row;
  justify-content: center;
  align-items: center;
  /*padding-bottom: 100px;*/
}

.subscribe_input form {
  display: flex;
}

.subscribe_input button {
  font-family: "Open Sans Semi", sans-serif;
  font-size: 18px;
  letter-spacing: 0.317046px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: #ff2d2d;
  min-height: 82px;
  width: 217px;
  color: white;
  font-weight: bold;
  margin-left: 20px;
}

.subscribe_input input {
  width: 524px;
  min-height: 82px;
  border-radius: 6px;
  font-family: "Open Sans Semi", sans-serif;
  font-size: 16px;
  letter-spacing: 0.4px;
  padding-left: 36px;
}
.email_input {
  font-family: "Open Sans Semi", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #ff2d2d;
}
/*-----------------Contact------------------*/
.contact {
  min-height: 771px;
  position: relative;
  /*display: flex;*/
}
.black_box {
  min-height: 481px;
  min-width: 500px;
  position: absolute;
  right: 0;
  bottom: 0;
  background: #2c2c2d;
  flex: 1 1 auto;
  z-index: -1;
}

.contact_box {
  min-height: 771px;
  margin-top: 104px;
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;

}
.contact_description {
  display: flex;
  flex-wrap: wrap;
  padding-right: 42%;
}
.contact_title{
  font-family: "Open Sans Semi", sans-serif;
  height: 40px;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.contact_text {
  font-family: "Open Sans Semi", sans-serif;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 30px;
  opacity: 0.7;
  font-weight: bold;
}
.contact_border {
  border: 1px solid #fd2d2e;
  width: 134px;
  height: 1px;
}
.contact_input {
  height: 480px;
  width: 730px;
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
  align-items: flex-end;
  align-self: flex-end;
  align-content: space-between;
}
.contact_input form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  align-content: space-between;
  height: 100%;
}
.contact_input input {
  width: 342px;
  height: 71px;
  border-radius: 6px;
  font-family: "Open Sans Semi", sans-serif;
  font-size: 16px;
  letter-spacing: 0.4px;
  padding-left: 50px;
  background: #e6e6e6;
}
.contact_input input:nth-of-type(3) {
  text-align: left;
  padding-bottom: 166px;
  width: 734px;
  height: 252px;
  border-radius: 6px;
  font-family: "Open Sans Semi", sans-serif;
  font-size: 16px;
  letter-spacing: 0.4px;
  padding-left: 50px;
  background: #e6e6e6;
}
.contact_input button{
  font-family: "Open Sans Semi", sans-serif;
  font-size: 18px;
  letter-spacing: 0.317046px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: #ff2d2d;
  height: 72px;
  width: 731px;
  color: white;
  font-weight: bold;
}

/*.contact_info {*/
/*  display: flex;*/
/*  flex-flow: wrap column;*/
/*  justify-content: center;*/
/*  align-content: flex-end;*/
/*  width: 40%;*/
/*  padding-top: 70px;*/
/*  padding-left: 40px;*/
/*}*/
.contact_info {
  color: #e0e0e0;
  background-color: #2c2c2c;
  box-sizing: border-box;
  padding: 125px 53px 125px 78px;
  height: 400px;
  min-height: 481px;
  max-width: 411px;
  align-self: flex-end;
}
.info_title {
  font-family: "Open Sans Semi", sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding-top: 15px;
  color: white;
  text-transform: uppercase;
}

.info_text {
  font-family: "Open Sans Semi", sans-serif;
  font-size: 16px;
  line-height: 28px;
  margin-top: 25px;
  font-weight: normal;
}

/*.feedback__left-box {*/
/*  flex: 1 1 auto;*/
/*}*/

/*.feedback__right-box {*/
/*	min-height: 481px;*/
/*	flex: 1 1 auto;*/
/*}*/

/*.contacts__decor {*/
/*	background-color: #2c2c2c;*/
/*}*/
.hidden_menu {
  position: relative;
  display: none;
}
.popup {
  position: absolute;
  width: 200px;
  height: 145px;
  background-color: #000001;
  display: none;
}
.visible {
  display: block;
}
/*-----------------Footer------------------*/
.basement {
  width: 100%;
  height: 113px;
  background: #313030;
  margin-top: 107px;
}
.basement_box {
  min-height: 113px;
  display: flex;
  flex-flow: nowrap row;
  justify-content: space-between;
  align-items: center;
}
.copyright_text {
  font-family: "Open Sans Semi", sans-serif;
  font-size: 16px;
  line-height: 33px;
  margin-top: 15px;
  font-weight: normal;
  color: white;
}
.basement_images {
  margin-top: 12px;
}
.basement_images a:not(:last-child) {
  margin: 0 13px 0 0;
}
/* Responsive */
@media screen and (max-width: 1270px) {
  .image {
    width: 50%;
  }
  .video {
    width: 100%;
    height: auto;
  }
  .description-text {
    padding: 0;
  }
  .column-description {
    width: 50%;
  }
  .description-title {
    display: flex;
    flex-wrap: wrap;
    font-size: 5vw;
    width: auto;
  }
  .provide_box {
    flex-wrap: nowrap;
  }
  .provide_description {
    width: 50%;
    flex-wrap: nowrap;
  }
  .provide-column {
    width: 50%;
  }
  .column_management,
  .column_design,
  .column-logo,
  .column-animation {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .column_management,
  .column_design,
  .column-logo,
  .column-animation:not(:last-child) {
    margin-bottom: 20px;
  }
  .border {
    display: none;
  }
  .product_menu {
    margin-bottom: 20px;
  }
  .product_boxes {
    justify-content: center;
  }
  .box {
    max-width: 100%;
		margin-right: 1vw;
  }
  .team_box {
  }
  .team_description {
    padding-right: 0px;
    text-align: left;
    margin-bottom: 50px;
  }
  .team_text {
    padding-right: 50%;
  }
  .big_icon {
    width: 30%;
  }
  .team_icons {
    padding-top: 0;
    width: 70%;
  }
  .icons_box:not(:first-child) {
    margin-bottom: 19px;
  }
  .icons_container{
    justify-content: center;
  }
  .subscribe_title {
    text-align: center;
  }
  .subscribe_text {
    text-align: center;
  }
  .black_box {
    display: none;
  }
}

@media screen and (max-width: 1142px) {
  .contact_box {
    flex-wrap: wrap;
    justify-content: center;
    padding-left: initial;
    padding-right: initial;
  }
  .contact_info {
    text-align: center;
  }
  .contact_description {
    padding: 0 5%;
    justify-content: center;
    margin-bottom: 50px;
  }
  .contact_text {
    text-align: center;
  }
  .black_box {
    width: 100%;
    display: initial;
  }
}
@media screen and (max-width: 1076px) {
  .big_icon {
    width: auto;
  }
  .team_icons {
    width: 60%;
  }
  .icons_box {
  margin-right: 19px;
}

@media screen and (max-width: 920px) {
  .description_box {
    flex-flow: wrap column;
  }
  .description-title {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-size: 7vw;
    width: 100%;
    padding: 0;
  }
  .column-description {
    width: 100%;
    padding: 0 10px;
    margin-bottom: 55px;
    justify-content: center;
  }
  .column-description a {
    justify-self: center;
  }
  .description-text {
    padding: 0 5%;
    text-align: center;
  }
  .image {
    width: 100%;
    padding: 0 10px;
  }
  .provide_box {
    flex-direction: column;
    justify-content: space-between;
  }
  .column_management,
  .column_design,
  .column-logo,
  .column-animation {
    width: 50%;
  }
  .provide_description{
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    padding: 20px 60px;
  }
  .provide-title {
    text-align: center;
  }
  .provide-text {
    text-align: center;
  }
  .provide-column {
    min-width: 100%;
    justify-content: space-between;
    padding: 0 15px;
    margin-top: 30px;
  }
  .border {
    display: none;
  }
  .products_description {
    width: 100%;
    justify-content: center;
  }
  .product_menu {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    margin-bottom: 20px;
    align-content: space-between;
    min-height: 60px;
  }

  .team_box {
  }

  .team_description {

  }
  .team_text {

  }
  .big_icon {
    width: 10%;
  }
  .team_icons {
    width: 60%;
  }
}

@media screen and (max-width: 865px) {
  .team_box {
    flex-direction: column;
  }
  .team_description {
  justify-content: center;
  }
  .team_text {
    padding: 0 20%;
    text-align: center;
  }
  .big_icon {
    align-self: center;
  }
  .team_icons {
    width: 100%;
    justify-content: center;
    padding: 0;
    margin-top: 30px;
  }
  .icon_text {
    text-align: center;
  }
  .icons_container {
    justify-content: center;
  }
}

}
@media screen and (max-width: 800px) {
  .description-title {
    font-size: 7vw;
  }
  .subscribe_input form {
    flex-wrap: wrap;
    justify-content: center;
  }
  .subscribe_input form button {
    margin-top: 10px;
    width: 120px;
  }
  .contact_info form {
    flex-wrap: wrap;
  }
  .subscribe_input input {
    width: 300px;
  }
  .contact_input form {
    display: flex;
    flex-shrink: 1;
    width: 100%;
    flex-direction: column;
    align-content: center;
  }
  .contact_input input {
    width: 400px;
  }
  .contact_input input:nth-of-type(3) {
    width: 400px;
  }
  .contact_input button {
    width: 400px;
  }
}

@media screen and (max-width: 500px) {
  .column-description {
    justify-content: center;
  }
  .description-title {
    font-size: 9vw;
    text-align: center;
    padding-right: 2%;
  }

  .description-text {
    padding: 0 5%;
    text-align: center;
  }

  .column-description a {
    align-self: center;
    justify-self: center;
  }

  .header_container {
    min-height: 120px;
  }

  .menu_list {
    flex-wrap: wrap;
  }

  .team_title {
    text-align: center;
  }

  .icon_menu {
    justify-content: center;
    align-self: center;
  }

  .provide_description {
    padding: 0;
    margin: 0;
    justify-content: center;
  }

  .provide-column {
    padding: 0;
  }

  .provide-title {
    text-align: center;
  }

  .provide-text {
    padding: 0;
    text-align: center;
  }

  .product_title {
    text-align: center;
    margin-bottom: 40px;
  }
  .product_text {
    margin-top: 10px;
    padding: 0 5%;
  }
  .product_menu {
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
  }
  .product_menu a:not(:last-child) {
    margin-bottom: 10px;
  }
  .team_title {
    margin-bottom: 50px;
  }

  .team_text {
    padding: 0 5px;
  }

  .icon_menu {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
  }

  .icon_menu a:not(:last-child) {
    margin: 0 10px 0 0;
  }

  .subscribe_input input {
    width: auto;
  }

  .subscribe_input input button {
    width: auto;
    height: auto;
  }

  .contact_description {
    padding: 0;
  }

  .contact_title {
    text-align: center;
    margin-bottom: 50px;
  }
  .contact_text{
    padding: 0 5%;
  }
  .contact_input form {
    display: flex;
    flex-shrink: 1;
    width: 100%;
    flex-direction: column;
    align-content: center;
  }
  .subscribe_text {
    padding: 0 5%;
  }
  .contact_input input:nth-of-type(3) {
    width: 400px;
  }
  .copyright_text {
    padding-right: 10%;
  }
  .basement_images {
    display: flex;
    flex-flow: wrap row;
  }
  .hidden_menu {
    display: flex;
    justify-self: start;
    margin-left: 5px;
  }
  .header_menu {
    display: none;
  }
  .popup_button {
    justify-self: start;
  }
  .hidden_menu .menu_list {
    flex-direction: column;
    width: 100%;
  }
  .menu_list .menu_item {
    display: flex;
    margin: 5px 0;
    flex-direction: row;
    align-content: flex-end;
    justify-content: center;
  }
  .menu_item a:link {
    height: 100%;
    padding: 0;
    margin-top: 10px;
  }
  .menu_list a {
    text-align: center;
    display: block;
    margin: 0;
  }
  .header_container {
    justify-content: start;
  }
  .popup {
    margin-top: 20px;
    margin-left: -10px;
  }
  .provide-column {
    padding: 0 5px;
  }
}
@media screen and (min-width: 2300px) {
  .black_box{
    width: 42%;
  }
}
